@charset "utf-8";
/* CSS Document */

@import url("../style-default.css");
@import url("../contact.css");

/*-------------------------Skin #1 Images------------------------------*/

body{background: url(images/main_smoke_bg.jpg) top center no-repeat #3e1450;}
#logo{background:url(images/logo.png) 50% 36px no-repeat;}
#progressMain{background:url(images/progress_green.png) no-repeat;}
.buttons .tab a{background:url(images/button_link.png) top no-repeat;}
.buttons .tab a:hover{background:url(images/button_hover.png) top no-repeat;}
.rightpanel a.more-services{background:url(images/more_btn.png) top left no-repeat;}
.rightpanel a.more-services:hover{background:url(images/more_btn_hover.png) top left no-repeat;}
#contact-container .contact-button { background:url(images/button_link.png) no-repeat;}
#contact-container .contact-button:hover {background: url(images/button_hover.png) no-repeat;}

/*-----------------------------Skin #1 Images------------------------------*/

								
									

/*-----------------------------Skin #1 Text Colors------------------------------*/

#progress, .buttons .share h1, .content h1, #contact-container h1{color:#fd8b3f; }
#countbox .col .top{color:#fd8b3f; text-shadow:1px 1px 0 #e77426;}


/*-----------------------------Skin #1 Text Colors------------------------------*/

.styleswitcher a.skin04{
background:url(../../images/switcher_hover_bg.png) top left no-repeat!important;
}
